@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-regular.woff2') format('woff2'), url('../fonts/titilliumweb-regular.woff') format('woff'), url('../fonts/titilliumweb-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-bold.woff2') format('woff2'), url('../fonts/titilliumweb-bold.woff') format('woff'), url('../fonts/titilliumweb-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-italic.woff2') format('woff2'), url('../fonts/titilliumweb-italic.woff') format('woff'), url('../fonts/titilliumweb-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-bolditalic.woff2') format('woff2'), url('../fonts/titilliumweb-bolditalic.woff') format('woff'), url('../fonts/titilliumweb-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-light.woff2') format('woff2'), url('../fonts/titilliumweb-light.woff') format('woff'), url('../fonts/titilliumweb-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-lightitalic.woff2') format('woff2'), url('../fonts/titilliumweb-lightitalic.woff') format('woff'), url('../fonts/titilliumweb-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-extralightitalic.woff2') format('woff2'), url('../fonts/titilliumweb-extralightitalic.woff') format('woff'), url('../fonts/titilliumweb-extralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-semibold.woff2') format('woff2'), url('../fonts/titilliumweb-semibold.woff') format('woff'), url('../fonts/titilliumweb-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'titillium web';
    src: url('../fonts/titilliumweb-black.woff2') format('woff2'), url('../fonts/titilliumweb-black.woff') format('woff'), url('../fonts/titilliumweb-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}